h1 = person.name

h2 Authored:

= render partial: '/info/episodes_by_show', locals: {episodes: person.authored_episodes(:episode)}

h2 Mentioned in:

= render partial: '/info/episodes_by_show', locals: {episodes: person.mentioned_in(:episode)}


